:root{
    --color-bg-dark: #0e0e0e;
    --color-bg-light: #ffffff;
    --color-accent: #ff4d00;
    --color-text-dark: #111111;
    --color-text-light: #f1f1f1;
    --font-main: "Inter", sans-serif;
}

body{
    font-family: var(--font-main);
    background-color: var(--color-bg-dark);
    color: var(--color-bg-light);
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
}

.btn-accent{
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    transition: 0.3s;
}

.btn-accent:hover{
    background-color: #e64500 ;
}

.custom-navbar {
    background-color: rgba(14,14,14,0.8); /* полупрозрачный тёмный фон */
    position: fixed;  /* чтобы navbar был всегда сверху */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: background-color 0.3s;
}

.custom-navbar .navbar-brand img {
    height: 28px; /* как в макете */
}

.navbar-nav .nav-link {
    color: var(--color-text-light);
    margin: 0 12px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--color-accent);
}

#buyBtn {
    padding: 8px 22px;
    border-radius: 6px;
    font-weight: 600;
}

/* Отступы для мобильных экранов */
@media (max-width: 991px) {
    .navbar-nav .nav-item {
        margin-bottom: 12px;
    }
}

#hero{
    min-height: 90vh;
    display: flex;
    align-items: center;
    color: var(--color-text-light);

}

.hero-title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text-light);
}
.hero-subtitle{
    font-size: 1rem;
    color: var(--color-accent);
}

.hero-image{
    max-width: 100%;
    height: auto;
}